rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /users/{userDocId} {
      allow read, write: if true;
    }

    match /reviews/{reviewDocId} {
      allow read, write: if true;
    }
  }
}
